*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    background-color: rgb(24, 28, 31);
}
/* NAV Y HEADER*/

.nav{
    background-color: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    border-bottom: 2px solid rgb(214, 169, 120);
    z-index: 5;
    top: 0;
    left: 0;
}

.nav_image img{
    min-width: 10px;
    min-height: 10px;
    max-height: 100px;
    max-width: 100px;
    transition: transform 0.3s ease;
}
.nav_image img:hover{
    transform: scale(1.1);
}
.nav_links{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.nav_links a{
    text-decoration: none;
    color:white;
    padding:7px;
    transition: transform 0.3s ease;
    display:inline-block;
}

.nav_links a:hover{
    transform: scale(1.1);
    color: rgb(214, 169, 120);
}

/* FRONT PAGE WELCOME*/
.Front_Welcome{
    margin: 220px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    background-color: rgb(7, 7, 7);
    color: rgb(255, 251, 232);
    box-shadow: 2px 4px 8px rgba(32, 32, 32, 0.76);
    text-decoration: none;
    border-bottom: 1px solid rgb(214, 169, 120);
    border-top: 1px solid rgb(214, 169, 120);
    gap: 80px;
    padding: 15px;
}

.Front_Welcome_Introduction{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Front_Welcome h1{
    font-size: 55px;
    text-shadow: 2px 2px 4px  rgb(214, 169, 120);
}

.Front_Welcome_Introduction p{
    font-size: 20px;
}

/* FOOTER FRONT */

.footer {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 90px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-top: 2px solid rgb(214, 169, 120);
    flex-wrap: wrap;
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
/**************************** LOBOTOMY CORPORATION ***************************/

.Lobotomy_nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    z-index: 5;
    top: 0;
    left: 0;
    flex-direction: column;
    gap: 20px;
    font-size:20px;
    font-weight: light;
}

.Lobotomy_nav img{
    max-width:500px;
    max-height: 125px;
}

.nav_moto{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 125%;
    background-color:rgb(252, 59, 58);
    color:black;
    height: 70px;
    font-size:30px;
    font-weight:lighter;
}
.Lobotomy_Corporation_Body{
    background-color:#0F0F0F;
    font-family:Norwester;
}


.Lobotomy_Corporation_Description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 100px;
    background-image: url('../../static/images/Angela.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 760px;
}

.Lobotomy_Corporation_Description_Text{
    display: flex;
    flex-direction: column;
    line-height: 3;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    height:60%;
    width: 40%;
    margin-left:auto;
    margin-right:50px;
}
